body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-height: 100vh; /* fix footer to bottom of page */
    display: flex; /* fix footer to bottom of page */
    flex-direction: column; /* fix footer to bottom of page */
}
* {
    box-sizing: border-box; /* use border-box to get predicatble box sizing */
  }
h2 {
    margin-top: 0;
}
h1 {
    margin-top: 0;
}
h3 {
    margin-top: 0;
}
main {
    display: block;  /* fix footer to bottom of page */
    flex: 1 0 auto;  /* fix footer to bottom of page */
    padding-left: 10%;
    padding-right: 10%;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: #ECEFF1;
    margin-top: 1em;
}
footer p {
    margin: 0;
}
.navbar {
    overflow: hidden;  
}
.navigation {
    /* float: left; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ECEFF1;
    z-index: 100;
}
.navbar a {
    /* float: left; */
    display: flex;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.navbar a:hover {
    background-color: #1967D2;
    color: white;
}
.navbar a.active {
    background-color: #0D47A1;
    color: white;
}
.about_container {
    background-color: aqua;
    padding: 1em;
    margin-bottom: 1em;
    margin-top: 4em;
}
.career_container {
    background-color: yellow;
    padding: 1em;
    margin-bottom: 1em;
}
.project_container {
    background-color: fuchsia;
    padding: 1em;
    margin-bottom: 1em;
}
.contact_container {
    background-color:greenyellow;
    padding: 1em;
}
div.project_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-self: center;
    gap: 1rem;

}
div.social ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.project {
    background-color: orangered;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
    main {
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 500px) {
    .navbar a{
        display: block;
    }
    .navigation {
        position: unset;
        flex-direction: column;
    }
    .about_container {
        margin-top: 1em;
    }
    main {
        padding-left: 5%;
        padding-right: 5%;
    }

}
